.contact{
    padding: 30px;
}
.contact h2{
    padding: 30px;
    background: red;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.contact_container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.contact_left {
    max-width: 50%;
    padding: 80px;
}
.contact_left p{
    font-size: 20px;
}
.contact_right{
    max-width: 50%;
}
.contact_right img{
    width: 450px;
}